.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--surface-strong);
    padding: clamp(0.4rem, 1vw, 0.7rem) 7vw;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 2;
}

.header > div {
    display: flex;
    align-items: center;
    gap: clamp(0rem, 1vw, 1.2rem);
}

.header h3 {
    font-family: Pinyon Script;
    font-size: clamp(1.6rem, 2vw, 2rem);
    color: var(--text);
}

.header img {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header .svg {
    display: block;
    color: var(--text);
    width: 1.5rem;
}

.header button {
    background: none;
    border: none;
    height: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    transition: var(--transition-btn);
}
.header button:hover { background-color: var(--frosted); }
.header button:active { transform: scale(0.92); }